/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

body {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
